Web/WebService/SimpleSOAPExample/WebContent/wsdl/TemperatureConvertor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertor">
    <complexType>
     <sequence>
      <element name="farhnaheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertorResponse">
    <complexType>
     <sequence>
      <element name="convertorReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertorResponse">

      <wsdl:part element="impl:convertorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertorRequest">

      <wsdl:part element="impl:convertor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConvertor">

      <wsdl:operation name="convertor">

         <wsdl:input message="impl:convertorRequest" name="convertorRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertorResponse" name="convertorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConvertorSoapBinding" type="impl:TemperatureConvertor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConvertorService">

      <wsdl:port binding="impl:TemperatureConvertorSoapBinding" name="TemperatureConvertor">

         <wsdlsoap:address location="http://localhost:8080/SimpleSOAPExample/services/TemperatureConvertor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
